
.header{
text-align:center;
}

.header img{
 width:350px;

}

nav ul{
    background-color:gray;
    display:flex;
    justify-content: center;

}   
ul li{
    margin-right: 20px;
    list-style-type: none;
    padding: 10px;
}
ul li a{
    list-style-type: none;
    text-decoration: none;
    color:white;
    font-weight:bold;

}
ul li:hover{
    background-color:sandybrown;
    color: gray;
}